In [1]:
#importo las librerias necesarias

import pandas as pd

In [2]:
#Trabajo sobre el dataset de training

df_final = pd.read_csv('./data/diamons_clean.csv')
df_final.head()

   price  carat  depth  table     x     y     z   city clarity color      cut
0   4268   1.21   62.4   58.0  6.83  6.79  4.25  Dubai     VS2     J  Premium
1   3513   1.02   61.6   58.0  6.40  6.35  3.93  Dubai     VS2     J  Premium
2   1792   0.77   62.3   58.0  5.86  5.80  3.63  Dubai     VS2     J  Premium
3   7553   1.51   59.6   60.0  7.58  7.48  4.49  Dubai     VS2     J  Premium
4   1176   0.57   60.2   62.0  5.40  5.33  3.23  Dubai     VS2     J  Premium

In [3]:
#reviso el dataframe que esté todo correcto

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    40455 non-null  int64
 1   carat    40455 non-null  float64
 2   depth    40455 non-null  float64
 3   table    40455 non-null  float64
 4   x        40455 non-null  float64
 5   y        40455 non-null  float64
 6   z        40455 non-null  float64
 7   city     40455 non-null  object
 8   clarity  40455 non-null  object
 9   color    40455 non-null  object
 10  cut      40455 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 3.4+ MB

In [4]:
#divido el dataset en 2: numérico y categórico

df_num = df_final[["price","carat","depth","table","x","y","z"]]
df_cat =df_final[["clarity","color","cut"]]

In [5]:
#Aplico One Hot enconding en las columnas categóricas

df_cat = ["clarity","color","cut"]
df_one_hot_encoding = pd.get_dummies(df_final[df_cat], 
                                    columns=["clarity","color","cut"],
                                    dtype=float)
df_one_hot_encoding

,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40451,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40452,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40453,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40454,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
diamonds_one_hot = pd.concat([df_num, df_one_hot_encoding], axis=1)
diamonds_one_hot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          40455 non-null  int64
 1   carat          40455 non-null  float64
 2   depth          40455 non-null  float64
 3   table          40455 non-null  float64
 4   x              40455 non-null  float64
 5   y              40455 non-null  float64
 6   z              40455 non-null  float64
 7   clarity_I1     40455 non-null  float64
 8   clarity_IF     40455 non-null  float64
 9   clarity_SI1    40455 non-null  float64
 10  clarity_SI2    40455 non-null  float64
 11  clarity_VS1    40455 non-null  float64
 12  clarity_VS2    40455 non-null  float64
 13  clarity_VVS1   40455 non-null  float64
 14  clarity_VVS2   40455 non-null  float64
 15  color_D        40455 non-null  float64
 16  color_E        40455 non-null  float64
 17  color_F        40455 non-null  float64
 18  color_G        40455 non-null  float64
 19  color_H        40455 non-null  float64
 20  color_I        40455 non-null  float64
 21  color_J        40455 non-null  float64
 22  cut_Fair       40455 non-null  float64
 23  cut_Good       40455 non-null  float64
 24  cut_Ideal      40455 non-null  float64
 25  cut_Premium    40455 non-null  float64
 26  cut_Very Good  40455 non-null  float64
dtypes: float64(26), int64(1)
memory usage: 8.3 MB

In [7]:
# Features + target

X = diamonds_one_hot[['carat',
                    'depth',
                    'table',
                    'x',
                    'y',
                    'z',
                    'clarity_I1',
                    'clarity_IF',
                    'clarity_SI1',
                    'clarity_SI2',
                    'clarity_VS1',
                    'clarity_VS2',
                    'clarity_VVS1',
                    'clarity_VVS2',
                    'color_D',
                    'color_E',
                    'color_F',
                    'color_G',
                    'color_H',
                    'color_I',
                    'color_J',
                    'cut_Fair',
                    'cut_Good',
                    'cut_Ideal',
                    'cut_Premium',
                    'cut_Very Good']]
y = pd.get_dummies(diamonds_one_hot[['price']], drop_first=True)
print(X.shape,y.shape)

(40455, 26) (40455, 1)

In [8]:
#Trabajo sobre el dataset de test

diamond = pd.read_csv('./data/diamonds_test.csv')
diamond

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

In [9]:
#Separo el dataset de test en categórico y numérico

diamond_test_num = diamond[["carat","depth","table","x","y","z"]]
diamond_test_cat = diamond[["clarity","color","cut"]]

In [10]:
#Aplico One Hot enconding en las columnas categóricas

diamond_test_cat = ["clarity","color","cut"]
diamonds_test_one_hot_encoding = pd.get_dummies(diamond[diamond_test_cat], 
                                    columns=["clarity","color","cut"],
                                    dtype=float)
diamonds_test_one_hot_encoding

,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,color_D,color_E,color_F,color_G,color_H,color_I,color_J,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13481,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
13482,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13483,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13484,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [11]:
diamonds_test_one_hot = pd.concat([diamond_test_num, diamonds_test_one_hot_encoding], axis=1)
diamonds_test_one_hot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          13485 non-null  float64
 1   depth          13485 non-null  float64
 2   table          13485 non-null  float64
 3   x              13485 non-null  float64
 4   y              13485 non-null  float64
 5   z              13485 non-null  float64
 6   clarity_I1     13485 non-null  float64
 7   clarity_IF     13485 non-null  float64
 8   clarity_SI1    13485 non-null  float64
 9   clarity_SI2    13485 non-null  float64
 10  clarity_VS1    13485 non-null  float64
 11  clarity_VS2    13485 non-null  float64
 12  clarity_VVS1   13485 non-null  float64
 13  clarity_VVS2   13485 non-null  float64
 14  color_D        13485 non-null  float64
 15  color_E        13485 non-null  float64
 16  color_F        13485 non-null  float64
 17  color_G        13485 non-null  float64
 18  color_H        13485 non-null  float64
 19  color_I        13485 non-null  float64
 20  color_J        13485 non-null  float64
 21  cut_Fair       13485 non-null  float64
 22  cut_Good       13485 non-null  float64
 23  cut_Ideal      13485 non-null  float64
 24  cut_Premium    13485 non-null  float64
 25  cut_Very Good  13485 non-null  float64
dtypes: float64(26)
memory usage: 2.7 MB

In [12]:
export_train = diamonds_one_hot.to_csv('./data/training_one_hot_no_cities.csv', index=False)

In [13]:
export_test = diamonds_test_one_hot.to_csv('./data/diamonds_test_one_hot_no_cities.csv', index=False)