In [18]:
#importo las librerias necesarias

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_regression

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error

In [19]:
#cargo el dataset de training y el de test

df_training = pd.read_csv('./../data/training_new_preprocesing_small.csv')
df_test = pd.read_csv('./../data/test_new_procesing_small.csv')
print(df_training.info())
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            40455 non-null  int64
 1   carat            40455 non-null  float64
 2   depth            40455 non-null  float64
 3   table            40455 non-null  float64
 4   x                40455 non-null  float64
 5   y                40455 non-null  float64
 6   z                40455 non-null  float64
 7   xy               40455 non-null  float64
 8   xz               40455 non-null  float64
 9   table_depth      40455 non-null  float64
 10  carat/dimensons  40455 non-null  float64
 11  volume           40455 non-null  float64
 12  clarity_I1       40455 non-null  float64
 13  clarity_IF       40455 non-null  float64
 14  clarity_SI1      40455 non-null  float64
 15  clarity_SI2      40455 non-null  float64
 16  clarity_VS1      40455 non-null  float64
 17  clarity_VS2      40455 non-null  float64
 18  clarity_VVS1     40455 non-null  float64
 19  clarity_VVS2     40455 non-null  float64
 20  color_D          40455 non-null  float64
 21  color_E          40455 non-null  float64
 22  color_F          40455 non-null  float64
 23  color_G          40455 non-null  float64
 24  color_H          40455 non-null  float64
 25  color_I          40455 non-null  float64
 26  color_J          40455 non-null  float64
 27  cut_Fair         40455 non-null  float64
 28  cut_Good         40455 non-null  float64
 29  cut_Ideal        40455 non-null  float64
 30  cut_Premium      40455 non-null  float64
 31  cut_Very Good    40455 non-null  float64
dtypes: float64(31), int64(1)
memory usage: 9.9 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   carat            13485 non-null  float64
 1   depth            13485 non-null  float64
 2   table            13485 non-null  float64
 3   x                13485 non-null  float64
 4   y                13485 non-null  float64
 5   z                13485 non-null  float64
 6   xy               13485 non-null  float64
 7   xz               13485 non-null  float64
 8   table_depth      13485 non-null  float64
 9   carat/dimensons  13485 non-null  float64
 10  volume           13485 non-null  float64
 11  clarity_I1       13485 non-null  float64
 12  clarity_IF       13485 non-null  float64
 13  clarity_SI1      13485 non-null  float64
 14  clarity_SI2      13485 non-null  float64
 15  clarity_VS1      13485 non-null  float64
 16  clarity_VS2      13485 non-null  float64
 17  clarity_VVS1     13485 non-null  float64
 18  clarity_VVS2     13485 non-null  float64
 19  color_D          13485 non-null  float64
 20  color_E          13485 non-null  float64
 21  color_F          13485 non-null  float64
 22  color_G          13485 non-null  float64
 23  color_H          13485 non-null  float64
 24  color_I          13485 non-null  float64
 25  color_J          13485 non-null  float64
 26  cut_Fair         13485 non-null  float64
 27  cut_Good         13485 non-null  float64
 28  cut_Ideal        13485 non-null  float64
 29  cut_Premium      13485 non-null  float64
 30  cut_Very Good    13485 non-null  float64
dtypes: float64(31)
memory usage: 3.2 MB

In [30]:
# Features + target

X = df_training[['carat',
                    'depth',
                    'table',
                    'x',
                    'y',
                    'z',
                    'xy',
                    'xz',
                    'table_depth',
                    'carat/dimensons',
                    'volume',
                    'clarity_I1',
                    'clarity_IF',
                    'clarity_SI1',
                    'clarity_SI2',
                    'clarity_VS1',
                    'clarity_VS2',
                    'clarity_VVS1',
                    'clarity_VVS2',
                    'color_D',
                    'color_E',
                    'color_F',
                    'color_G',
                    'color_H',
                    'color_I',
                    'color_J',
                    'cut_Fair',
                    'cut_Good',
                    'cut_Ideal',
                    'cut_Premium',
                    'cut_Very Good']]
y = pd.get_dummies(df_training[['price']], drop_first=True)
print(X.shape,y.shape)

(40455, 31) (40455, 1)

In [31]:
# Train + test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
# Scaling - StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X_train)
scaled_data_test = scaler.transform(X_test)
scaled_data_test

array([[ 0.44675086,  0.7281952 ,  0.24636806, ..., -0.81588703,
        -0.58082301,  1.84804753],
       [ 0.44675086,  0.79790014, -0.19907889, ..., -0.81588703,
        -0.58082301,  1.84804753],
       [-1.04622436, -0.94472332,  0.69181501, ..., -0.81588703,
         1.72169487, -0.54111162],
       ...,
       [-0.60464014,  1.21612977, -0.64452584, ..., -0.81588703,
        -0.58082301,  1.84804753],
       [ 1.5401975 ,  0.10085075, -0.19907889, ...,  1.22565988,
        -0.58082301, -0.54111162],
       [-0.94108526, -0.10826406, -0.64452584, ...,  1.22565988,
        -0.58082301, -0.54111162]])

In [33]:
regressor =  RandomForestRegressor()

In [34]:
hyperparameters = regressor.get_params()
model = regressor.fit(X_train, y_train.values.ravel())

In [35]:
y_pred = model.predict(X_test)

print('Model:', regressor, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Ground truth target:', y_test, '\n')
print('Predicted target:', y_pred, '\n')

Model: RandomForestRegressor()

Model hyperparameters: {'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

Predicted target: [ 4707.56  8940.65   903.69 ...  1793.56 13184.29   632.51]

In [36]:
y_pred.shape

(8091,)

In [37]:
type(y_pred)

numpy.ndarray

In [38]:
r2_ = model.score(X_test, y_test)
r2_

0.981056350683129

In [39]:
y_test = model.predict(df_test)

In [40]:
df_pred = pd.DataFrame(data=y_test)
df_pred

             0
0      2885.57
1      5521.77
2      9263.00
3      4049.87
4      1679.79
...        ...
13480  1906.08
13481  2368.21
13482  2912.56
13483  2144.59
13484   840.36

[13485 rows x 1 columns]

In [41]:
df_pred = df_pred.reset_index()
df_pred

       index        0
0          0  2885.57
1          1  5521.77
2          2  9263.00
3          3  4049.87
4          4  1679.79
...      ...      ...
13480  13480  1906.08
13481  13481  2368.21
13482  13482  2912.56
13483  13483  2144.59
13484  13484   840.36

[13485 rows x 2 columns]

In [42]:
df_rename = df_pred.rename(columns={"index": "id", "o": "price"})
df_rename

          id        0
0          0  2885.57
1          1  5521.77
2          2  9263.00
3          3  4049.87
4          4  1679.79
...      ...      ...
13480  13480  1906.08
13481  13481  2368.21
13482  13482  2912.56
13483  13483  2144.59
13484  13484   840.36

[13485 rows x 2 columns]

In [43]:
final_prediction = df_rename.rename(columns={df_rename.columns[1]: "price" })
final_prediction

          id    price
0          0  2885.57
1          1  5521.77
2          2  9263.00
3          3  4049.87
4          4  1679.79
...      ...      ...
13480  13480  1906.08
13481  13481  2368.21
13482  13482  2912.56
13483  13483  2144.59
13484  13484   840.36

[13485 rows x 2 columns]

In [44]:
export = final_prediction.to_csv('./../data/prediction_small_randomforrest.csv', index=False)